$nav-text-color:  #325662;
$nav-hover-background: #474747; 
$text-color:  #d5eeff;
$project-text-color:  #325662;

$drop-down-navbar-color: #0fff;

$underline-color: #698B91;

$color-black: #fff;

$button-color: #474747;

$title-color: #325662;